* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: mont;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mont-thin;
    src: url(../fonts/montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: mont-bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: bangers;
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}

@font-face {
    font-family: knewave;
    src: url(../fonts/Knewave/Knewave-Regular.ttf);
}

@font-face {
    font-family: sigmar;
    src: url(../fonts/Sigmar_One/SigmarOne-Regular.ttf);
}


/* BASE */

body {
    color: white;
    margin: 0;
    font-family: mont, sans-serif;
    /* background-color: orange; */
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0 auto;
}

input,
select {
    font-family: mont, sans-serif;
    border: none;
    padding: 0px 30px;
    border-radius: 12px;
    font-size: 1.25rem;
}

button {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
}

button:hover {
    background-color: lightgray;
}


/* HEADER */

.header {
    background-color: #ff7f00;
    height: 4.125rem;
    padding: 0 3.125rem;
    font-size: 1.1875rem;
}

.header .seperator {
    height: 2rem;
    width: 1px;
    background-color: #8a8a8a;
    margin: 0 10px;
}


/* EDITOR-CONTAINER */

.editor-container {
    padding: 25px 50px;
    background-color: #e3e3e3;
    display: none;
    height: 75vh;
}


/* canvas */

.editor-container .canvas {
    background-color: white;
    background-size: cover;
    margin-inline-end: 70px;
}

.editor-container .tools-container {
    width: 375px;
}


/* tools-container */

.tools-container .tool-btn {
    height: 3.75rem;
    width: 3.75rem;
}

.tools-container .tool-btn img {
    height: 2.5rem;
    width: 2.5rem;
}


/* text-tools */

.tools-container .text-tools {
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "input input input input input" "up-btn down-btn btn1 btn2 btn3 "
}

.text-input {
    grid-area: input;
}

.text-choose {
    grid-area: btn1;
}

.up-btn {
    grid-area: up-btn;
}

.down-btn {
    grid-area: down-btn;
}

.text-add {
    grid-area: btn2;
}

.text-remove {
    grid-area: btn3;
}


/* style tools */

.tools-container .style-tools {
    margin-top: 40px;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "btn1 btn2 btn3 btn4 btn5" "select select select btn6 btn7"
}

.style-inc {
    grid-area: btn1;
}

.style-dec {
    grid-area: btn2;
}

.style-left {
    grid-area: btn3;
}

.style-center {
    grid-area: btn4;
}

.style-right {
    grid-area: btn5;
}

.style-stroke {
    grid-area: btn6;
}

.style-color {
    grid-area: btn7;
}

.select-font {
    grid-area: select;
}

.color-picker {
    position: relative;
    display: inline-block;
}

.color-picker [name="color"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

option {
    height: 1.5rem;
    background-color: yellow;
}

.select-font [name="impact"] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.select-font [name="bangers"] {
    font-family: bangers;
    height: 1.5rem;
}

.select-font [name="knewave"] {
    font-family: knewave;
    height: 1.5rem;
}

.select-font [name="sigmar"] {
    font-family: sigmar;
    height: 1.5rem;
}


/* emojis & btns*/

.emoji-tools {
    margin-top: 30px;
    height: 135px;
}

.btns {
    margin-top: 20px;
}

.btns .download,
.btns .share {
    width: 7.5rem;
    background-color: #ff7f00;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}


/* GALLERY-CONTAINER */

.gallery-container {
    color: black;
}


/* search bar */

.gallery-container .search-bar {
    height: 100px;
    padding: 0 50px;
}

.gallery-container .search-bar input {
    border-radius: unset;
    font-weight: 500;
}

.gallery-container .search {
    border-bottom: black 2px solid;
}

.gallery-container .search-bar img {
    height: 1.25rem;
}


/* imgs container */

.gallery-container .imgs-container {
    padding: 25px 50px;
    background-color: #e3e3e3;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
}

.imgs-container .img {
    width: 350px;
    cursor: pointer;
}

.imgs-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* me */

.me {
    margin: auto;
    height: 500px;
}

.me img {
    height: 322px;
    border-radius: 50%;
    margin-inline-end: 2.5rem;
}

.me .desc {
    width: 500px;
}

.desc h2 {
    font-family: mont-bold;
    font-size: 1.5625rem;
    margin: 0 0 0.875rem;
}


/* FOOTER */

.footer {
    font-size: 1.1875rem;
    font-family: mont-thin;
    background-color: #ff7f00;
    height: 12.9375rem;
    text-align: center;
}

.footer .logo {
    margin-bottom: 1rem;
}


/* HELPERS */


/* layout helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.none {
    display: none;
}