* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: mont;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

a {
    text-decoration: none;
    color: white;
}


/* BASE */

body {
    margin: 0 auto;
    font-family: mont, sans-serif;
    /* background-color: orange; */
}


/* HEADER */

.header {
    background-color: #ff7f00;
}